<a href="https://colab.research.google.com/github/Jalope/AudioAssist/blob/main/most_common_words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.1.1)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)

In [12]:
import nltk
import string
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [3]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('cess_esp')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package cess_esp to /root/nltk_data...
[nltk_data]   Unzipping corpora/cess_esp.zip.

True

In [10]:
spanish_words = nltk.corpus.cess_esp.words()
stop_words = set(stopwords.words('spanish'))
filtered_words = [word.lower() for word in spanish_words if not word.lower() in stop_words and not word.lower() in string.punctuation]

In [11]:
freq_dist = nltk.FreqDist(filtered_words)
most_common_words = freq_dist.most_common(3000)

In [13]:
words_df = pd.DataFrame(most_common_words, columns=['Word', 'Frequency'])

In [14]:
words_df

            Word  Frequency
0            *0*       3883
1          -fpa-        821
2          -fpt-        820
3            hoy        357
4            dos        313
...          ...        ...
2995         mas          6
2996  literatura          6
2997      oscuro          6
2998    asamblea          6
2999       llamó          6

[3000 rows x 2 columns]